*{
    font-family: 'Cormorant SC', serif;
    font-family: 'Lato', sans-serif;
    font-size: large;
    letter-spacing: 0.8px;
    
}

.cabecalho{
    margin-left: 420px;
    width: 745px;
}

body{}

.nav-links{
    margin: 30px;
    padding: 30px;
}

.nav-links li{
    display: inline;
    margin: 20px;
    text-decoration: none;
}

.nav-links li a{
    text-decoration: none;
}

.nav-links li a:link{
    text-decoration: none;
    color: green;
}


.nav-links li a:visited{
    text-decoration: none;
    color: black;
}


#infos p{
    width: 705px;
    margin: 30px;
    margin-left:
}

#table{
    margin-left: 230px;

}

header{
    font-size: 40px;
    margin: 30px;
}

#predador{
    width: 705px;
}

#referencias ul li a:link{
    text-decoration: none;  

}

#referencias ul li a:visited{
    color: black;
}

img{
    width: 800px;
}

aside{
    margin: 30px;
    width: 15%; 
    position: fixed;
                top: 0;
                right: 0; 
}

aside a:link{
    text-decoration: none;
}

aside a:visited{
    color: black;
}

aside img{;
    width: 200px;
}

footer{
    padding-top: 50px;
    text-decoration: none;
    margin-left: 650px;
}

.menu{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-book),var(--font-family-book-fallback);
    font-size: var(--font-size-40-responsive-book);
    letter-spacing: var(--font-size-40-responsive-book-letter-spacing);
    line-height: var(--font-line-height-spaced);
    font-weight: var(--font-weight-bold);
    font-variation-settings: var(--font-variation-settings-book-normal-roman);
    font-feature-settings: var(--font-feature-settings-book-roman);
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 150px;                        
    text-decoration: none;
    white-space: nowrap;
    background-color: aquamarine;
    width: 500px;
    border-radius: 10px;
    margin-left: 530px;
}

.artigo1{
    width: 800px;
    margin-left: 390px;
}

h1{
    background-color: aquamarine;
    text-align: center;
}

h2{
    background-color: aquamarine;
    text-align: center;
}

.foto1{
    margin-left: 380px;
}